body {
	background-color: #eee;
}
.sidebar {
	height: 100vh;
	background: linear-gradient(rgba(7, 31, 8, 0.6), rgba(7, 31, 8, 0.9)) ,url(../assets/bgs/football1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 5px 7px 25px #999;
}
.bottom-border {
	border-bottom: 1px groove #eee;
}
.sidebar-link {
	transition: all .4s;
}
.sidebar-link:hover {
	background-color: #444;
	border-radius: 5px;
}
.my-footer {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .9)),
	url(../assets/bgs/ft3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	border-radius: 5px;
}
.style-bg {
	background: rgba(245, 2, 18, 0.75);
	color: #fff;
	font-weight: bold;
	font-family: sans-serif;
	padding: 20px;
	border-radius: 5px;
}
.purple-bg {
	background: linear-gradient(to right, rgba(10, 124, 129, 0.4), rgba(10, 124, 129, 0.9)), 
	url(../assets/bgs/shinyb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}
.form-top-new{
	padding: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
	color: #ccc;
	width: 60%;
	margin: 10px auto 0;
	border-radius: 5px;
	border: 1px solid #000;
}
.new-cs-form {
	padding: 20px;
	text-align: center;
	width: 60%;
	color: #000;
	margin: 0px auto;
	background: rgba(236, 229, 229, 0.75);
	border: 1px solid #ccc;
	border-radius: 5px;
}

 /*Table Fonts*/
  table#multichange {
	  font-size: 12px;
	  
  }
  h4#shrink {
	  font-size: 8px;
	  text-align: center;
	  font-weight: bold;
  }
  div#results {
	 margin: 0px auto;
	  border: 1px solid silver;
	  z-index: 9999;
	  overflow: scroll;
	  height: 250px;
	  width: 500px;
}
#matches {
	margin: 0px auto;
	border: 1px solid silver;
	z-index: 9999;
	overflow: scroll;
	height: 250px;
	width: 500px;
}

/*LOOSER FORM ERROR CLASSES*/
.error-hp{
	color: #FF0000 !important;
	display: block;
}
#registration-form {
	text-align: center;
}
#looser-form {
	text-align: center;
}
#fair-form {
	text-align: center;
}
.form-group {
	color: #14E1C7;
}

@media (max-width: 768px){
	.sidebar {
		position: static;
		height: auto;
	}
	.top-navbar {
		position: static;
	}
}