body {
  background-color: #eee;
}
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(7, 31, 8, 0.6), rgba(7, 31, 8, 0.9)),
    url(../assets/bgs/football1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}
.bottom-border {
  border-bottom: 1px groove #eee;
}
.sidebar-link {
  transition: all 0.4s;
}
.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;
}
.my-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(../assets/bgs/ft3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 5px;
}
.trans-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(../assets/bgs/ft3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 5px;
}
.violet-bg {
  background: rgba(208, 5, 110, 0.912);
  color: #fff;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.style-bg {
  background: rgba(245, 2, 18, 0.75);
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 5px;
}
.purple-bg {
  background: linear-gradient(
      to right,
      rgba(10, 124, 129, 0.4),
      rgba(10, 124, 129, 0.9)
    ),
    url(../assets/bgs/shinyb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.form-top-new {
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  color: #ccc;
  width: 60%;
  margin: 10px auto 0;
  border-radius: 5px;
  border: 1px solid #000;
}
.new-cs-form {
  padding: 20px;
  text-align: center;
  width: 60%;
  color: #000;
  margin: 0px auto;
  background: rgba(236, 229, 229, 0.75);
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*Table Fonts*/
table#multichange {
  font-size: 12px;
}
h4#shrink {
  font-size: 8px;
  text-align: center;
  font-weight: bold;
}
div#results {
  margin: 0px auto;
  border: 1px solid silver;
  z-index: 9999;
  overflow: scroll;
  height: 250px;
  width: 500px;
}
div#mbn-results {
  margin: 0px auto;
  border: 1px solid silver;
  z-index: 9999;
  overflow: scroll;
  height: 250px;
  width: 500px;
}
div#mbc-results {
  margin: 0px auto;
  border: 1px solid silver;
  z-index: 9999;
  overflow: scroll;
  height: 250px;
  width: 500px;
}
div#old-results {
  margin: 0px auto;
  border: 1px solid silver;
  z-index: 9999;
  overflow: scroll;
  height: 250px;
  width: 500px;
}
#matches {
  margin: 0px auto;
  border: 1px solid silver;
  z-index: 9999;
  overflow: scroll;
  height: 250px;
  width: 500px;
}

/*LOOSER FORM ERROR CLASSES*/
.error-hp {
  color: #ff0000 !important;
  display: block;
}
#registration-form {
  text-align: center;
}
#looser-form {
  text-align: center;
}
#addmovie {
  text-align: center;
}
#fair-form {
  text-align: center;
}
.form-group {
  color: #14e1c7;
}
/*Transactions Page*/
.business-details {
  border: 3px solid #ccc;
  width: 60%;
  margin: 10px auto 2px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.customer-details {
  border: 3px solid #ccc;
  width: 50%;
  margin: 10px auto 2px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.customer-details h4 {
  box-shadow: 10px 10px 20px #7ff5d5;
}
#mytme {
  border: 1px solid #000;
  right: 0;
  width: 40%;
  margin: 2px auto;
  text-align: center;
}
#transactions-data {
  width: 80%;
  margin: 0px auto;
}
.table-heading {
  border: 1px solid rgb(21, 19, 19);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.624);
  color: #eee;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
  margin: 50px auto 0px;
}
#userdata {
  margin-top: 50px;
}
#tr-footer {
  position: fixed;
  bottom: 0;
}

/*Movies Page*/
.reduce-font > button {
  font-size: 12px;
}
.movies-bg {
  background: rgba(242, 86, 3, 0.912);
  color: #fff;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.column-heading > h3 {
  text-align: center;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .top-navbar {
    position: static;
  }
}
