.f2-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85px 100px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
    &-image {
        //grid-area: image;
        // border-top-left-radius: 15px;
        // border-top-right-radius: 15px;
        // background-size: cover;
        span{
            font-size: 4rem;
            font-weight: bold;
            display: block;
            margin-top: 0rem;
            // transform: scale(.5rem);
          }
      }
      &:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      }
  }
  .f2-card-image {
    grid-area: image;
  }
  .f2-card-text {
    grid-area: text;
    background: #32325d;
    color: $white;
    outline: .5px solid #e14eca;
    p {
        // color: grey;
        font-size:15px;
        font-weight: 300;
      }
      h2 {
        margin-top:0px;
        font-size:28px;
      }
  }
  .f2-card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    outline: .5px solid #e14eca;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #32325d;
  }
  .f2-card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
  }
  .f2-card-text .date {
    font-size:13px;
  }
  .image-1, .image-2, .image-3{
    background:#32325d;
  }
  section#usersdata {
  
  }
  //Movies Page
  #mbn-results, #mbc-results {
    margin: 0;
    border: 1px solid silver;
    z-index: 9999;
    overflow: scroll;
    height: 250px;
  }
  .many {
    overflow-y: scroll;
    height: 20rem;
  }
  .user-wrap, .movies-wrap{
    @include appl;
  }
  //Users page
  .vuser_holder{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 90px 60px;
    grid-template-areas:"logo"
                        "heading"
                        "miscellaneous";
  }
  .mhd{
    grid-area: heading;
    text-align: center;
    margin: 2rem;
    color: $main;
  }
  .team-logo {
    grid-area: logo;
    display: block;
    text-align: center;
    
    img{
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }
  .misc {
    grid-area: miscellaneous;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "phone status";
    color: $main;

  }
  .phn {
    grid-area: phone;
    
  }
  .act-stat{
    grid-area: status;
  }

  /**********************************************
  ****************Mobile Devices*****************
  **********************************************/
  @media (max-width: 768px){
    #multichange {
      font-size: .5rem;
    }
  }