* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #4d64fa;
  padding: 30px;
  position: relative;
}

/*Custom Loaders*/
.loader {
  position: fixed;
  background-color: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.spinner-border {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  width: 4rem !important;
  height: 4rem !important;
}

.top-navbar {
  background: #ff4c52;
  color: #fff;
}

.sidebar {
  height: 100vh;
  background: linear-gradient(#0bb2d4, rgba(7, 31, 8, 0.9)), url(../images/bgs/goulson.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar .bottom-border {
  border-bottom: 1px groove #eee;
}
.sidebar .sidebar-link {
  transition: all 0.4s;
  display: block;
}
.sidebar .sidebar-link:hover {
  background-color: #ff4c52;
  border-radius: 5px;
}

.f2-card-image {
  grid-area: image;
}

.f2-card-text {
  grid-area: text;
}

.f2-card-stats {
  grid-area: stats;
}

.image-1 {
  background-image: linear-gradient(to right, #4d64faa9, #4d64faa8), url(../images/cards/22mbappe.jpg);
}

.image-2 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), url(../images/cards/22cover.jpg);
}

.image-3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), url(../images/cards/22field.jpg);
}

.f2-card-text {
  grid-area: text;
  margin: 2px;
}
.f2-card-text p {
  font-size: 15px;
  font-weight: 300;
}
.f2-card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.f2-card-text .date {
  font-size: 13px;
}

.f2-card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgba(16, 24, 32, 0.863);
}

.f2-card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}

.f2-records {
  background: #eee;
  margin-left: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.my-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../assets/bgs/ft3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 5px;
}

.card-success {
  background: #05a85c;
  color: #fff;
}

.card-danger {
  background: #8f1919ef;
  color: #fff;
}

.card-warning {
  background: orangered;
  color: #fff;
}

.violet-bg {
  background: rgba(208, 5, 110, 0.912);
  color: #fff;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.style-bg {
  background: rgba(2, 6, 245, 0.623);
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 5px;
}

.purple-bg {
  background: linear-gradient(to right, rgba(10, 124, 129, 0.4), rgba(10, 124, 129, 0.9)), url(../assets/bgs/shinyb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.f2-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 210px 100px 50px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
.f2-card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.f2-card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.transactions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "transact" "records";
}

.form-side {
  grid-area: transact;
}

.trns-side {
  grid-area: records;
}

/*# sourceMappingURL=index.css.map */
