* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #32325d;
  padding: 30px;
  position: relative;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.f2-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px 50px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
.f2-card-image {
  grid-area: image;
}
.f2-card-image span {
  font-size: 4rem;
  font-weight: bold;
  display: block;
  margin-top: 0rem;
}
.f2-card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.transactions {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "transact records";
  padding: 2rem;
  border-radius: 0.5rem;
}

.trans-holder {
  background: #32325d;
  border: 0.1rem solid #32325d;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  height: 27.1rem;
  overflow: scroll;
}

.form-side {
  grid-area: transact;
}

.trns-side {
  grid-area: records;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }

  .top-navbar {
    position: static;
  }

  .section-heading {
    padding: 0.3rem;
    border-radius: 0.5rem;
    outline: 0.5px solid #e14ecbe0;
    outline-offset: 0.1em;
  }
  .section-heading h4 {
    font-size: 1rem;
  }

  .mini-heading, .form-top, #payments-form {
    width: 70%;
    margin: 0 auto;
    transform: translateX(-5px);
  }

  .f2-records {
    transform: translateX(-12px);
  }

  .form-side, .trns-side {
    transform: translateX(-15px);
  }

  .transactions {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "transact" "records";
    padding: 2rem;
    border-radius: 0.5rem;
  }

  .form-top h4 {
    font-size: 1rem;
  }

  .trans-holder {
    width: 70%;
    margin: 0 auto;
    transform: translateX(-5px);
  }
}
/*Custom Loaders*/
.loader {
  position: fixed;
  background-color: black;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.spinner-border {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  width: 4rem !important;
  height: 4rem !important;
}

.top-navbar {
  background: #32325d;
  color: #fff;
}

.sidebar {
  height: 100vh;
  background: #5e72e4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar .bottom-border {
  border-bottom: 1px groove #eee;
}
.sidebar .sidebar-link {
  transition: all 0.4s;
  display: block;
}
.sidebar .sidebar-link:hover {
  background-color: #ff4c52;
  border-radius: 5px;
}

.f2-card-image {
  grid-area: image;
}

.f2-card-text {
  grid-area: text;
  background: #32325d;
  color: #fff;
  outline: 0.5px solid #e14eca;
}
.f2-card-text p {
  font-size: 15px;
  font-weight: 300;
}
.f2-card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.f2-card-text .date {
  font-size: 13px;
}

.f2-card-stats {
  grid-area: stats;
}

.image-1 {
  background: #32325d;
}

.image-2 {
  background: #32325d;
}

.image-3 {
  background: #32325d;
}

.f2-card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #32325d;
}

.f2-card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}

#f2-looser-form {
  text-align: center;
}
#f2-looser-form label {
  font-weight: bold;
  color: rgba(16, 24, 32, 0.863);
}

div#results {
  margin: 0;
  border: 1px solid silver;
  z-index: 9999;
  overflow: scroll;
  height: 250px;
}

.f2-records {
  background: #32325d;
  margin-left: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.transactions {
  background: #32325d;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.form-top {
  background: #32325d;
  padding: 2rem;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  border: 0.1rem solid #32325d;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

#payments-form {
  background: #32325d;
  padding: 2rem;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  border: 0.1rem solid #32325d;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.my-footer {
  background: rgba(0, 0, 0, 0.9);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 5px;
}

@font-face {
  font-family: Rye;
  src: url(../assets/gfonts/Rye-Regular.ttf);
}
.nav-f2-bg {
  background: #5e72e4;
  color: #ccc;
}

.icon-success {
  color: #2bffc6;
}

.icon-pinkie {
  color: #e14eca;
}

.icon-info {
  color: #5e72e4;
}

.f2-btn {
  background: #5e72e4;
  color: #fff;
  font-family: sans-serif;
}

.section-heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 2rem;
  font-family: "Roboto";
  width: 60%;
  margin: 0 auto;
  border: 0.5px solid #2bffc6;
  outline: 1px solid #e14ecbe0;
  outline-offset: 0.5em;
  margin-bottom: 1rem;
}

.mini-heading {
  text-align: center;
  color: #ccc;
  background: #32325d;
  padding: 1.5rem;
  border: 1px solid #e14ecbe0;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  font-family: "Rye";
}

#nav-fair-tab {
  background: #23294b6b;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

#nav-looser-tab {
  background: #23294b6b;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.active {
  background: #1d8cf8 !important;
  color: #fff;
}

.f2-table {
  background: #32325d;
  color: #2bffc6;
}

.violet-bg {
  background: rgba(208, 5, 110, 0.912);
  color: #fff;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.style-bg {
  background: rgba(2, 6, 245, 0.623);
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 5px;
}

.purple-bg {
  background: linear-gradient(to right, rgba(10, 124, 129, 0.4), rgba(10, 124, 129, 0.9)), url(../assets/bgs/shinyb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=index.css.map */
